html {
    background-color: white;
}

.menu {
    background-color: black;
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
    position: static;
    display: flex;
}

#link1:link, #link1:visited, #link2:link, #link2:visited, #link3:link, #link3:visited,
#link4:link, #link4:visited, #link5:link, #link5:visited {
    color: white;
    text-decoration: none;
}

#link1:hover, #link2:hover, #link3:hover, #link4:hover, #link5:hover {
    text-decoration: underline;
    color: aqua;
}

#name, #home, #gallery, #about-me, #orgs, #projects{
    color: white;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 0.5px;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

#content {
    margin-left: auto;
    margin-right: auto;
}

#image1 {
  position: absolute;
  margin-left: 45px;
  margin-right: auto;
  border-radius: 50px;
  border-width: 3px;
  border-style: dashed;
  border-color: white;
  float: left;
  width: 400px;
}

#greeting-container {
  margin-top: 20px;
}