html {
    background-color: white;
}

.menu {
    background-color: black;
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
    position: static;
    display: flex;
}

#link1:link, #link1:visited, #link2:link, #link2:visited, #link3:link, #link3:visited,
#link4:link, #link4:visited, #link5:link, #link5:visited {
    color: white;
    text-decoration: none;
}

#link1:hover, #link2:hover, #link3:hover, #link4:hover, #link5:hover {
    text-decoration: underline;
    color: aqua;
}

#name, #home, #gallery, #about-me, #orgs, #projects{
    color: white;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 0.5px;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.background {
    background-color: #EEEEEE;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -10px;
    margin-bottom: -10px;
    height: 707px;
    width: auto;
}

.content {
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    position: static;
    display: flex;
}

#my-text {
    color: black;
    font-size: 40px;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 60px;
    float: left;
}

#my-image {
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

#image1 {
  margin-left: 80px;
  margin-right: auto;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  width: 500px;
}

.socials {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
}

#insta {
    margin-bottom: 25px;
    margin-right: 40px;
    width: 60px;
    float: left;
}

#linkedin {
    margin-bottom: 25px;
    margin-right: 40px;
    width: 60px;
    float: left;
}

#github {
    margin-bottom: 25px;
    margin-right: 120px;
    width: 60px;
    float: left;
}